<VirtualHost *:80>

     ServerName <%= @app_url %>
     UseCanonicalName On

    <% if @rails_env == 'development' %>
        RailsEnv development
    <% end %>

     DocumentRoot /home/rails/<%= @app_name %>/current/public
      <DirectoryMatch  /\.git/|/\.svn/ >
       Deny from all
     </DirectoryMatch>
     <Directory "/home/rails/<%= @app_name %>/current/public">
      Options FollowSymLinks
      AllowOverride None
      Order allow,deny
      Allow from all
     </Directory>

     RewriteEngine On
     # Uncomment for rewrite debugging
     #RewriteLog /var/log/apache2/http_rewrite_log
     #RewriteLogLevel 9

     # <CUSTOM RULES BEFORE ANYTHING BEGIN>

     # <CUSTOM RULES BEFORE ANYTHING END>

     # Enable status page for monitoring purposes
     RewriteCond %{REMOTE_ADDR} ^(127.0.0.1)
     RewriteRule ^(/server-status) $1 [H=server-status,L]

     # Redirects to a maintenance page if the specified file below exists
     # ...but it still allows images to be served
     RewriteCond %{DOCUMENT_ROOT}/system/maintenance.html -f
     RewriteCond %{SCRIPT_FILENAME} !/system/maintenance.html
     RewriteCond %{SCRIPT_FILENAME} !^(.+).(gif|png|jpg|css|js|swf)$
     ErrorDocument 503 /system/maintenance.html
     RewriteRule ^.*$ /system/maintenance.html [L,R=503]

     # <CUSTOM RULES BEFORE FORWARDING BEGIN>
    RewriteCond %{HTTP_HOST} ^secondrotation.com
    RewriteRule (.*) http://mc-test.secondrotation.com$1 [R=301,L]

     # <CUSTOM RULES BEFORE FORWARDING END>

     # Proxy the rest to the load balancer
     RewriteRule ^/(.*)$ http://127.0.0.1:85%{REQUEST_URI} [P,QSA,L]

     # Setup the logs in the appropriate directory
     CustomLog /var/log/apache2/access_log combined
     #ErrorLog  /var/log/apache2/error_log

     #Remote logging -- handle by syslog
     ErrorLog "|logger -p local3.info -t httperror"
     CustomLog "|logger -p local3.info -t http" combined

     LogLevel warn

     # Deflate
     AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml text/javascript text/css application/x-javascript
     BrowserMatch ^Mozilla/4 gzip-only-text/html
     BrowserMatch ^Mozilla/4.0[678] no-gzip
     BrowserMatch bMSIE !no-gzip !gzip-only-text/html

     SetEnvIf User-Agent ".*MSIE.*" nokeepalive ssl-unclean-shutdown downgrade-1.0 force-response-1.0

</VirtualHost>